 /* The animation code */
/*@keyframes animatedSquare {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}*/

/* The element to apply the animation to */
/*div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: animatedSquare;
  animation-duration: 4s;
  animation-iteration-count: infinite;    
}*/

@keyframes jumpAnimation {
  0% {translate: 0 0; transform: rotate(0deg);}
  10% {translate: 0 -20px; transform: rotate(-15deg); 
      filter: invert(40%) sepia(95%) saturate(1887%) hue-rotate(308deg) brightness(101%) contrast(101%);
    }
  50% {
      filter: invert(40%) sepia(95%) saturate(1887%) hue-rotate(308deg) brightness(101%) contrast(101%);
    }
  80% {
    filter: invert(0%) sepia(1%) saturate(7485%) hue-rotate(35deg) brightness(89%) contrast(100%); 
  }
  100% {
      translate: 0 0px;
      transform: rotate(0deg);
    }
}

img {
  position: relative;
  top: 100px;
  width: 100px;
  height: auto;
}

img:hover {
  animation-name: jumpAnimation;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-iteration-count: 1;
}